* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(10, 10, 10);
  font-family: sans-serif;
}

body {
  background: #be0da1;
}

#root {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
}
